<a href="https://colab.research.google.com/github/valsson-group/python-bootcamp/blob/main/Session_1_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Summer Bootcamp from Valsson Research Group

Date: 06/16/2025

## Mentors:
* Shikshya Bhusal
* Sara Alinejad
* Pradip Si
* Logan Estridge
* Kriti Alam

## Materials for learning Python (along with this workshop)



1.   MolSSI Python Resources for Scientific Python Computing
     (https://education.molssi.org/resources.html#programming)

2.   The Python documentation (https://docs.python.org/3/)

3.   CodeAcademy (Has good learning interface) : https://www.codecademy.com/learn/learn-python

4.  Python for Everybody (https://www.py4e.com/)

## Basic Syntax

## **Random Text**

In [ ]:
# Lines starting with a hash/pound sign are comments
# meaning that they are not evaluated as code.
#
# Comments are useful to add short (and not so short)
# blurbs of text explaning a particular part of your code

### Variables and Basic Types

The assignment operator, denoted by the `=` symbol, assigns values to variables. The line `var_a = 3` takes the known value, 3, and assigns that value to the variable `var_a`.

An important aspect of any piece of code is how readable it is for other developers (or future you), so avoid abstract variable names like `a`, `var`, `var1`, `var2`, etc.

In [ ]:
#Lets define a value in a variable
pi=3.1415

phi=180

print(pi) # print is the basic output
print(phi)

print ("The value of pi is",pi)

3.1415
180
The value of pi is 3.1415

What type of variable is pi ?

In [ ]:
type(pi)

type(phi)

int

## Basic mathematical operations

Now lets do some calculator stuff!!

In [ ]:
pi*pi

9.86902225

In [ ]:
pi+pi

6.283

In [ ]:
pi-3

0.14150000000000018

In [ ]:
three, seven= 3,7

In [ ]:
print (three, seven)

3 7

In [ ]:
print(three+seven)

10

In [ ]:
print(7/3)

2.3333333333333335

In [ ]:
print(7%3) # remainder by using '%' sign

1

Incrementing an integer, i.e. updating the same variable

In [ ]:
an_int = 5
an_int = an_int + 1 # explicitly
an_int += 1 # implicitly
print(an_int)

7

You do not define this variable ? What will happen?

In [ ]:
print(psi)

NameError: name 'psi' is not defined

Yes!! We get an error ðŸ˜€

How do we know what kind is a certain variable? We use the "type" keyword

In [ ]:
type(pi)

float

In [ ]:
print("Hello World")

Hello World

The basic data types found in Python

In [ ]:
an_integer = 42 # Just an integer
a_float = 0.1 # A non-integer number, up to a fixed precision
a_boolean = True # A value that can be True or False
a_string = '''just enclose text between two 's, or two "s, or do what we did for this string''' # Text
none_of_the_above = None # The absence of any actual value or variable type

An interesting thing to note is the declaration of the variable sets the data type (unlikely if you have seen C++ or Java)

In [ ]:
type(an_integer)
type(a_boolean)

bool

You have 2 statements, but how come only 1 showed up?

In [ ]:
print (type(an_integer),type(a_boolean))

<class 'int'> <class 'bool'>

The datatype of a variable is implicit i.e. will depend on how it is declared or being set to.

In [ ]:
z="1.0"
b= 1.0

print(type(z),type(b))

<class 'str'> <class 'float'>

We can also change between datatypes (or convert between datatypes)

In [ ]:
b="3.0" # String
print(b,type(b))
b=float(b) # Float
print(b,type(b))

3.0 <class 'str'>
3.0 <class 'float'>

# Dealing with complex numbers

In [ ]:
z=3+4j
type(z)

complex

In [ ]:
abs (z) # Take the absolute value

5.0

In [ ]:
#Declaring using the complex keyword
complex (4,5)

(4+5j)

# Using a module in Python

What is a module? : It is a file which has Python codes.

## Example: The math module

In [ ]:
# importing a module
import math

### What does this module do ?

We can check by using the **help** function

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

## or using '?'

In [ ]:
math?

### How to use a function from a module?

In [ ]:
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

# Exercise time

**Exercise 1** Complete the following piece of code to calculate the volume of a cylinder given its radius and height , following the formula: $volume = {pi} * {r}^{2}* {h} $.

Use the value of `pi` stored in the `math` module as `math.pi`.

In [ ]:
radius = 5
height = 3
volume = math.pi*(radius**2)*(height)
volume=math.pi*(math.pow(radius,2))*(height)
print(volume)

235.61944901923448

**Exercise 2** Trigonometry

If we are given the base and the hypotenuse, lets find the angle Î˜

Hint: use "acos"

In [ ]:
b=4
h=8

theta=math.acos(b/h)
print(theta,"radians")

# What if we want it in degrees?

print(math.degrees(theta),"degrees")

1.0471975511965979 radians
60.00000000000001 degrees

## Container Datatypes: lists, tuples, sets, and dictionaries

**Lists** are groups of objects (values, variables, even functions). We construct them using square brackets [] with objects separated by commas.

In [ ]:
values = [7, 11, 13, 17, 19, 23, 29]

### Indexing in Python

Very importantly, **indexing in Python starts at 0**. The first item on a list is numbered 0, not 1. This means the last index of a list in Python is its `length - 1`, not length..

In [ ]:
#accessing an element from the list
values[0],values[1],values[6]

(7, 11, 29)

In [ ]:
values[7]

IndexError: list index out of range

In [ ]:
#Length of the list

len(values)

7

In [ ]:
# last element of the list

values[-1]

29

In [ ]:
# printing values within a range

values [0:5]

[7, 11, 13, 17, 19]

### Slicing a list

In [ ]:
#splicing syntax: [start:stop:stride]
values [0:4:2]

[7, 13]

### What is happening here ?

Slicing the list and making a sublist of every 2nd element between the 0th and 4th index

Another example is where we dont define the start and the stop indices but just the stride

In [ ]:
values[::2]

[7, 13, 19, 29]

This gives values every 2nd element

A mixed list of different datatypes

In [ ]:
mixed_list = ['one', 1, 1e6, [1,1], True, None]
print(mixed_list)

['one', 1, 1000000.0, [1, 1], True, None]

In [ ]:
matrix=[[1,1],[2,2]] # not recommended to matricize
print(matrix[0])

[1, 1]

"adding" lists

In [ ]:
values2 = values + values
print(values2)

[7, 11, 13, 17, 19, 23, 29, 7, 11, 13, 17, 19, 23, 29]

"multiplying" list

In [ ]:
values3 = values * 3
print(values3)

[7, 11, 13, 17, 19, 23, 29, 7, 11, 13, 17, 19, 23, 29, 7, 11, 13, 17, 19, 23, 29]

## Lets explore some attached functions for lists

In [ ]:
values=[] # here we define a list: in this case an empty list
print(values)

[]

In [ ]:
# adding elements to a list

values.append(1)
values.append(2)
values.append(3)
print(values)

[1, 2, 3]

In [ ]:
values.extend([4,5,6])
print(values)

[1, 2, 3, 4, 5, 6]

In [ ]:
values.insert(5,6)
print(values)

[0, 1, 3, 5, 6, 6, 7]

In [ ]:
values.remove(4)
print(values)

[1, 3, 5, 6]

In [ ]:
values.append(7)
print(values) # adding values at the end of the list

[1, 3, 5, 6, 7]

###Datatype Strings
Even though a basic data type, may be considered like a **list** of characters

In [ ]:
words = 'Hello Chemistry'
print(words)

Hello Chemistry

Similar slicing like lists

In [ ]:
words[:5]

'Hello'

Some methods which may work on both strings and lists

In [ ]:
len(words)

15

In [ ]:
words.append("Physical")

AttributeError: 'str' object has no attribute 'append'

We can also introduce a new line while printing strings

In [ ]:
print ("Line 1\nLine 2\nLine 3") # '\n' makes a new line

Line 1
Line 2
Line 3

But some features might be unique for strings

In [ ]:
# Splitting a string
words="The quick brown fox blah blah blah"
print(words)
words_list=words.split()
print(words_list[5])

The quick brown fox blah blah blah
blah

## Rigid to change: Immutable objects

In [ ]:
values=["d","e","f"]
print(values)

['d', 'e', 'f']

In [ ]:
values[1]="g"
print (values)

['d', 'g', 'f']

Here we could make changes to the list "values". So lists are mutable.

**Exercise 3** Time Again: How you do you think this code works?

In [ ]:
#values2 = values
values2= values.append("x")

print(values2)
print(values == values2) # '==' is to check identity

None
False

Strings are on the other hand `immutable`

In [ ]:
sentence = "The beautiful game"
sentence[5]= "x"

TypeError: 'str' object does not support item assignment

Concatenating the strings (words)

In [ ]:
words = "Hello"
words += " World!" # joins or concatenates
words = words + " World!"
print(words)

Hello World! World!

But then, String is supposed to be immutable !!!

Lets use the `id()` function to really see what is happening!

In [ ]:
words = "Hello"
print(id(words))
words += " World!"
print(id(words))

137152002649520
137152003638192

The id's are changing (according to the memory address) which means the text is modified

In [ ]:
values = ["a", "b", "c"]
print(id(values))
values[1] = "x"
print(id(values))

137152002601280
137152002601280

On the contrary, for a list the id's are remaining the same

## The next datatype: Dictionary

A dictionary is like a list, but more general. In a list, the indices have to be integers; in a dictionary they can be (almost) any type. For example, suppose we make a list of number words, like this.

In [ ]:
lst = ['zero', 'one', 'two']  # a list (already seen)

In [ ]:
# and access a word
lst[1]

'one'

Define a dictionary

In [ ]:
numbers = {}
numbers

{}

In [ ]:
# assign data into a dictionary
numbers['zero'] = 0 # 'key'
print(numbers)

{'zero': 0}

Adding some more

In [ ]:
numbers['one'] = 1
numbers['two'] = 2
numbers

{'zero': 0, 'one': 1, 'two': 2}

General form of a dictionary
name_of_dictionary['key']

In [ ]:
# accessing an element using a key

numbers['two']

2

What if the key doesnt exist?

In [ ]:
numbers['three']

KeyError: 'three'

Error!!!!!!!!

In [ ]:
len(numbers) # length of a dictionary

3

How to find whether a key is present in a dictionary?
We use the `in` keyword

In [ ]:
'one' in numbers

True

In [ ]:
1 in numbers

False

This will be false as it does not recognize values

In [ ]:
numbers.values()

dict_values([0, 1, 2])

In [ ]:
1 in numbers.values()

True

This might be better to match by values

## Lists vs Dictionaries



1.   Both collect data
2.   List is ordered, indexed by integers
3.   Dictionary is unordered, more of a key-value pairs.

Combining each other

1. Dictionary having a list

In [ ]:
student = {
    "name": "Alice",
    "grades": [90, 85, 92]
}

In [ ]:
print(student["grades"])

[90, 85, 92]

2. List of dictionaries

In [ ]:
students = [
    {"name": "Alice", "age": 20},
    {"name": "Bob", "age": 21}
]

In [ ]:
students[0]

{'name': 'Alice', 'age': 20}

There are other container datatypes `tuples` and `sets` which we do not include for simplicity.

## Control Flow

## Loops

There are several loops available in Python, among which the `for` loop is used to repeat a peice of code a set number of times

The definition:



``` python
for variable in iterable:
    do things using variable

```

In [ ]:
# Level 1: Easy loop

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

The `range` keyword here is a function to generate integers bounded by two values: `range(start,end,step)`

In [ ]:
n = 5
for i in range(0, n, 2):
    print(i)

Lets calculate using the loop than just print

In [ ]:
# Sum of natural numbers

sum=0
for i in range(10):
  sum+=i
print(sum)

45

In [ ]:
# Working on a list

nums=[3,4,5,6,7] # defining a list

squared_vals=[]
rooted_vals=[]

for num in nums:
  squared_vals.append(num**2) # making another list

for num in nums:
  rooted_vals.append(num**0.5)

print(nums)
print(squared_vals)
print(rooted_vals)

[3, 4, 5, 6, 7]
[9, 16, 25, 36, 49]
[1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907]

Also we might loop on the list using the indices (i.e. running a loop through the length)

In [ ]:
nums=[3,4,5,6,7] # defining a list

squared_vals=[]

for i in range(0,len(nums)):
  squared_vals.append((nums[i])**2) # instead here we deal with the index per element as per the loop

print(nums)
print(squared_vals)

[3, 4, 5, 6, 7]
[9, 16, 25, 36, 49]

We can use both the methodologies for indexing a list inside a loop using the `enumerate` function.

In [ ]:
nums=[3,4,5,6,7] # defining a list

squared_vals=[]
cubed_vals=[]
test_vals=[]

for index,element in enumerate(nums):
  squared_vals.append((nums[index])**2) # instead here we deal with the index per element as per the loop
  cubed_vals.append((element)**3) # here we index the element directly
  test_vals.append((element)**i) # here we index the element directly

print(nums)
print(squared_vals)
print(cubed_vals)
print(test_vals)

[3, 4, 5, 6, 7]
[9, 16, 25, 36, 49]
[27, 64, 125, 216, 343]
[81, 256, 625, 1296, 2401]

The `enumerate` function will return the element and the index simultaneously from the list in order (index,element).

The `zip` function is another interesting function to use two or more variables simultaneously while looping.

In [ ]:
#example for zip in for loop for 2 variables

x_values = [1, 2, 3]
y_values = ['a', 'b', 'c']

for x, y in zip(x_values, y_values):
  print(f"x is {x} and y is {y}")

x is 1 and y is a
x is 2 and y is b
x is 3 and y is c

**Exercise** Lets write a loop to create a list of 20 random numbers

**Hint** use the `random` module

In [ ]:
import random

random_list=[]


for i in range(20):
  random_list.append(random.random())

print(random_list)
print(len(random_list))

[0.9633301770601551, 0.026793908849314763, 0.46210075019469554, 0.08010621537895712, 0.493198709312069, 0.44104056897875454, 0.8413052680359536, 0.5290721369826179, 0.6533391860616465, 0.7086186282763222, 0.7921438389103101, 0.10177121496976838, 0.3003660180082891, 0.3927301899898217, 0.08068208886539563, 0.7686188140102018, 0.5246624761889292, 0.4346436185245566, 0.21333198742801718, 0.2772050894660485]
20

Bonus exercise: Assume the above random numbers are grades given in decimal format. Convert the grades to percentage format (multiply by 100)

In [ ]:
random_grades = []

for grade in random_list:
  random_grades.append(grade*100)

print(random_grades)

[96.33301770601551, 2.6793908849314763, 46.210075019469556, 8.010621537895712, 49.3198709312069, 44.10405689787545, 84.13052680359536, 52.90721369826179, 65.33391860616466, 70.86186282763222, 79.21438389103102, 10.177121496976838, 30.03660180082891, 39.27301899898217, 8.068208886539562, 76.86188140102018, 52.46624761889292, 43.46436185245566, 21.333198742801716, 27.72050894660485]

Bonus bonus exercise: assign each grade to a student in a dictionary

In [ ]:
students = [
    'Alice',
    'Bob',
    'Charlie',
    'Dalton',
    'Edward',
    'Fargo',
    'Goofer',
    'Harry',
    'Ian',
    'Jackie',
    'Logan',
    'Michelle',
    'Nuna',
    'Oscar',
    'Piper',
    'Queen',
    'Romeo',
    'Tucker'
]
student_grades = {}

for student, grade in zip(students, random_grades):
  student_grades[student] = grade

print(student_grades)

{'Alice': 96.33301770601551, 'Bob': 2.6793908849314763, 'Charlie': 46.210075019469556, 'Dalton': 8.010621537895712, 'Edward': 49.3198709312069, 'Fargo': 44.10405689787545, 'Goofer': 84.13052680359536, 'Harry': 52.90721369826179, 'Ian': 65.33391860616466, 'Jackie': 70.86186282763222, 'Logan': 79.21438389103102, 'Michelle': 10.177121496976838, 'Nuna': 30.03660180082891, 'Oscar': 39.27301899898217, 'Piper': 8.068208886539562, 'Queen': 76.86188140102018, 'Romeo': 52.46624761889292, 'Tucker': 43.46436185245566}

### Conditional Statements

The flow of statements will be based on boolean values (i.e. `True` or `False`)

Basic structure of an `if`statement

```python
if logical expression:
    code block
```

In [ ]:
# Simple if loop

n = 0.5

if n > 1:
  print("n is larger than 1")
else:
    print("n is smaller than 1")

n is smaller than 1

In [ ]:
values = list(range(10))

for value in values:
    if value % 2 == 0:
        print(f"{value} is even")

0 is even
2 is even
4 is even
6 is even
8 is even

Using another keyword `else`: the `if-else` statement

Basic structure

```python
if logical_expression
    code block run if true
    elif condition:
    code block # to run for the next condition
else
    code block run if false
```

The `elif` condition block is to add more additional conditions while writing if-else blocks

In [ ]:
# Example of using if-else
# Testing
values = list(range(10))

for i in values:
    if i % 2:
        print(f"{i} is odd")
    else:
        print(f"{i} is even")

In [ ]:
# Using elif along with if-else

num = 1

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

**Exercise** Write a small piece of code that draws 10 random numbers and adds to a list only those larger than 1.0.

In [ ]:
import random

values = []

for random_number in range(1000000000):
    random_number = random.randint(0,100)
    if random_number > 50:
      values.append(random_number)

print(len(values))

KeyboardInterrupt:

# Function
1. Functions allow us to break down complex problems into smaller.
2. Instead of repeating the same code, we can write it once as a function and reuse it whenever needed.

**Exercise 1** Complete the following piece of code to calculate the volume of a cylinder given its radius and height , following the formula: $volume = {pi} * {r}^{2}* {h} $.

Use the value of `pi` stored in the `math` module as `math.pi`.

In [ ]:
def func_name(arguments):
  oparations
  return values

In [ ]:
def cylinder_volume(radius, height):
    import math
    volume = math.pi * radius ** 2 * height
    return volume

In [ ]:
cylinder_volume(4,5)

Lets calculate surface area also and return both volume and surface area.
Calculate surface area with the following the formula: $surface area = 2 *{pi} * {r}* {h} + 2 *{pi} * {r}^{2}$.

In [ ]:
def cylinder_volume_surface(radius, height):
    import math
    volume = math.pi * radius ** 2 * height
    surface_area = 2 * math.pi * radius * height + 2 * math.pi * radius ** 2
    return volume, surface_area

In [ ]:
cylinder_volume()

In [ ]:
a , b  = cylinder_volume(4 ,5)

In [ ]:
a

## Calculate interest

In [ ]:
def calculate_final_amount(initial, years, rate=0.05):

    interest = (initial * rate * years)
    final_amount = initial + interest
    return final_amount

In [ ]:
calculate_final_amount(1000, 2)

In [ ]:
def add(a, b, verbose=False):
    result = a + b
    if verbose:
        print(f"Adding {a} and {b} gives {result}")
    return result

In [ ]:
add(3, 5, verbose=True)

Lets write a function to check if a number is divisible by 3.
- The rule is: A number is divisible by 3 if the sum of its digits is divisible by 3.

Then use a loop to print the numbers divisible by 3 between 100 and 150

In [ ]:
def divisible_by_3(...):
    digit_sum = 0
    for digit in str(...):
        digit_sum += ...
    if digit_sum ... :
        print(f"{...} is divisible by 3")

In [ ]:
for i in range(....):
    divisible_by_3(...)

Let's calculate average and standard deviation from a list of numbers.  
Use the following formulas:

- Average: $\bar{x} = \frac{1}{n} \sum_{i=1}^{n} x_i$  
- Varience: $\sigma^{2}= \frac{1}{n - 1} \sum_{i=1}^{n} (x_i - \bar{x})^2 $
- Standard Deviation: $\sigma = \sqrt{ variance }$

# Lets write a fucntion to calculate mean and standard deviation using the given template

In [ ]:
import math

def compute_avg_std(...):
    # length of the list
    n= len(...)
    # calculate mean
    mean = sum(...) / ....

    # calculate variance using a loop
    squared_diff_sum = 0
    for num in ...:
        squared_diff_sum += (...) ** 2
    variance = (...)

    stddev = math.sqrt(...)

    return mean, stddev

In [ ]:
data = [10, 20, 30, 40, 50]
# write your own list
avg, std = compute_avg_std(data)

# Input and Output
input() function is used to take user input. By default, it returns the user input in form of a string.

In [ ]:
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Enter your name: Flargleblast
Hello, Flargleblast ! Welcome!

## Take Multiple Input in Python
We are taking multiple input from the user in a single line, splitting the values entered by the user into separate variables for each value using the split() method. Then, it prints the values with corresponding labels, either two or three, based on the number of inputs provided by the user.

In [ ]:
# taking two inputs at a time
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

Enter two values: 20 30
Number of boys:  20
Number of girls:  30

In [ ]:
# taking three inputs at a time
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

###Type Casting (Convert Input to Numbers)
By default, all inputs are strings. Use int() or float() to convert them.

In [ ]:
a, b = input("Enter two numbers: ").split()
# a = int(a)
# b = int(b)
print("Sum:", a + b)

Enter two numbers: 2 3
Sum: 23

##Output in Python
####Basic Output

In [ ]:
print("Hello, world!")

Hello, world!

###Using print() with multiple values

In [ ]:
name = "Alice"
age = 25
print("Name:", name, "Age:", age)

###Using f-strings

In [ ]:
name = "Bob"
score = 95
print(f"Student {name} scored {score}% on the test.")

Student Bob scored 95% on the test.

###Using .format()

In [ ]:
print("Student {} scored {}% on the test.".format(name, score))

Student Bob scored 95% on the test.

In [ ]:
print(f"The value of pi is {pi}")
print("The value of pi is {0}".format(pi))
print("The value of pi is " + str(pi))
print(f"The value of pi is {pi:.2f}")
print("The value of pi is {0:.2f}".format(pi))

The value of pi is 3.1415
The value of pi is 3.1415
The value of pi is 3.1415
The value of pi is 3.14
The value of pi is 3.14

In [ ]:
i=414
print(f"The value of i is {i}")
print(f"The value of i is {i:5d}")
print(f"The value of i is {i:05d}")

The value of i is 414
The value of i is   414
The value of i is 00414

###Special Print Parameters
####sep â€“ custom separator between printed values
####end â€“ custom ending instead of newline

In [ ]:
print("Python", "is", "fun", sep=" ")

Python is fun

In [ ]:
print("Loading", end="...")
print("Done!")

Loading...Done!

####Exercise: Build a script that gives you this output:
Enter your full name: Sarah Johnson

Enter your age: 16

Enter your marks in Math, Science, and English: 85 90 78


--- Student Summary ---

Name      : Sarah Johnson

Age       : 16

Math      : 85

Science   : 90

English   : 78

Total     : 253

Average   : 84.33

####Instructions:
Use input() to collect the student's name, age, and marks.

Convert the marks to integers.

Calculate the total and average (rounded to 2 decimal places).

Print the summary using f-strings for formatting.

# File Handling

How to create, open/close, and read/write to files in Python.

Basic file handling can be accomplished using the native `open()` function. E.g., `open('name_of_file', 'mode')`. The `'mode'` parameter determines if you will be reading, writing, etc to the file. Here are a few common modes:
- r = read
- w = write
- a = append

## Example 1: Reading a file

Say you want to read the content of the file `Shakespeare.txt` which contains the following text:

`To be or not to be, that is the question?`

First, let's open the file in read mode, like so:

`file = open('Shakespeare.txt', 'r')`

Next, we output the content of the file using the read function:

`content = file.read()`

Notice we reference the variable name `file` when using the read function. We could have just as easily defined this variable differently in the above command, e.g.

```
Hamlet = open('Shakespeare.txt', 'r')
content = Hamlet.read()
```

So be aware of this when handling multiple files simultaneously.

Next, we need to print the `content` to the screen, and close the file. Putting it all together:

In [ ]:
file = open('Shakespeare.txt', 'w')
content = file.write('To be or not to be, that is the question?')
file.close()

In [ ]:
file = open('Shakespeare.txt', 'r')
content = file.read()
print(content)
file.close()

To be or not to be, that is the question?

## Example 2: Writing to a file

Writing to a file is accomplished with `file.write()`. However, if the file was opened in write mode (`"w"`) this command will erase and overwrite any content of the file if it already exists. If the file does not exist, it will create the file and write the content. E.g.

In [ ]:
file = open('Shakespeare.txt', 'w')
file.write('To be or not to be, that is the question?\n')
file.close()

In [ ]:
file = open('Shakespeare.txt', 'r')
content = file.read()
print(content)
file.close()

To be or not to be, that is the question?

And the content of `Shakespeare.txt` now reads only:

`Brevity is the soul of wit.`

To keep the content of the original file, and only add new lines to the file, the file can be opened in the append mode (`"a"`).

### Exercise 1

Write the code to append a line with your favorite Shakespeare quote to the file `Shakespeare.txt`.

In [ ]:
file = open('Shakespeare.txt', 'a')
file.write('Brevity is the soul of wit.')
file.close()

In [ ]:
file = open('Shakespeare.txt', 'r')
content = file.read()
print(content)
file.close()

To be or not to be, that is the question?
Brevity is the soul of wit.

## Using the `with` Statement for Opening Files

Opening a file using a `with` statement will automatically close the file after the code block, even if an exception is raised. It is typically good practice to open files using a `with` statement like so:

```
with open("Shakespeare.txt", "r") as file:
  content = file.read()
  print(content)
```

### Exercise 2

Write the code to create a new file that contains one of your favorite quotes. Also print the contents of this file to the screen.

In [ ]:
with open('Starwars.txt', 'r+') as file:
  file.write('The Force will be with you\n')
  content = file.read()
  print(content)